@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,300;1,700&display=swap');

#localpayment-render-grid {
	
}

#localpayment-render-grid .localepayment__item {
}

#localpayment-render-grid .localepayment__item .localepayment__item-card {
	background-color: #fff;
	border: solid 1px #ccc;
	padding: 15px;
}

#localpayment-render-grid .localepayment__item .localepayment__item-card-title {
	text-align: center;
	font-size: 14px;
}

#localpayment-render-grid .localepayment__item .localepayment__item-card-icon {
	display: block;
	margin: auto;
}

/*
* HELPER
* STYLE
*/

.localepayment__hidden {
	display: none !important;
}

.localepayment__msg {
	background: #f2f2f2;
	border: 1px solid #2d2d2d;
	padding: 10px 20px;
	color: #000;
	max-width: 90%;
	margin: auto;
}

/*
* FORMS
* DESIGN
*/

.localepayment__card-method {
	/*background-color: white;
	border: dashed 1px #ccc;*/
	width: 100%;
}

.localepayment__button-close {
	font-size: 35px;
    text-decoration: none !important;
    display: inline-block;
    padding: 5px 10px;
    border: solid 1px #484848;
    color: #484848;
    line-height: 35px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.localepayment__button-close:hover {
	background: #ccc;
    color: #484848;
    border: solid 1px #ccc;
}

.localepayment__grid {
	display: grid;
	grid-gap: 30px;
	grid-auto-rows: 100px;
}

.localepayment__grid-one {
  grid-column: 1 / 1;
  grid-row: 1;
}

.localepayment__grid-two { 
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  grid-template-columns: repeat(2, 1fr);
}

.localepayment__grid-three {
  grid-column: 1;
  grid-row: 2 / 5;
  grid-template-columns: repeat(3, 1fr);
}

.localepayment__grid-four {
  grid-column: 3;
  grid-row: 3;
}

.localepayment__grid-five {
  grid-column: 2;
  grid-row: 4;
}

.localepayment__grid-six {
  grid-column: 3;
  grid-row: 4;
}

.localepayment__forma {
	padding: 10px 20px;
}

.localepayment__form-group {
	width: 100% !important;
	margin: 0px 0px 10px !important;
}

.localepayment__form-group label {
	color: #000 !important;
}

.localepayment__form-group input,
.localepayment__form-group select,
.localepayment__form-group textarea {
	width: 100% !important;
	border: solid 1px #000 !important;
	transition: all ease .3s;
}

.localepayment__form-group input:valid,
.localepayment__form-group select:valid,
.localepayment__form-group textarea:valid {
	border: solid 1px #00DB27 !important;
}

.localepayment__form-group input:invalid,
.localepayment__form-group select:invalid,
.localepayment__form-group textarea:invalid {
	border: solid 1px #F53B1E !important;
}

.localepayment__form-group button {

	width: auto;
	padding: 10px 20px;
	border: solid 1px #000;
	margin: 1rem auto;
    display: block;

}

@media screen and (min-width: 280px){
	#localpayment-render-grid {
		grid-template-columns: repeat(1, 1fr) !important;
	}

	.localepayment__grid {
		display: grid;
		grid-gap: 30px;
		grid-auto-rows: auto;
	}

	.localepayment__form-group {
		width: 100% !important;
		margin: 0px 0px 0px !important;
	}

	.localepayment__grid-two { 
	  grid-column: 1 / 4;
	  grid-row: 1 / 2;
	  grid-template-columns: repeat(1, 1fr);
	}

	.localepayment__grid-three {
	  grid-column: 1;
	  grid-row: 2 / 5;
	  grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (min-width: 768px){
	#localpayment-render-grid {
		grid-template-columns: repeat(2, 1fr) !important;
	}
}

@media screen and (min-width: 960px){
	#localpayment-render-grid {
		grid-template-columns: repeat(3, 1fr) !important;
	}
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-bottom {
  margin: 0;
  position: absolute;
  top: 90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.vertical-bottom-right {
  margin: 0;
  position: absolute;
  top: 90%;
  right: 2rem !important;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.uk-creditcard {
	border-radius: 5px;
	border: 1px dashed gray;
	background: linear-gradient(308deg, #d9d9d9, #ffffff);
	color: gray !important;
	height: 17vh !important;
	padding: 1rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-style: italic;
}

.uk-creditcard name {
	font-size: 0.75rem !important;
	color: gray !important;
	display: block;
	line-height: 1.75rem;
	text-transform: uppercase;
	}

.uk-creditcard tag {
	font-size: .7rem !important;
	color: gray !important;
	display: block;
	line-height: 0.75rem;
	text-align: right;
	font-weight: 900;
}

.uk-creditcard img {
	width: 10%;
	height: auto;
	object-fit: contain;
	mix-blend-mode: multiply;
}

.uk-creditcard hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    text-align: inherit;
    margin: 5px 0 5px 0 !important;
    border: 0;
    border-top: 1px solid gray !important;
}

.uk-mockup {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  	z-index: 999999;
  	position: relative;  	
}

.uk-mockup-box {
	margin-left: auto;
  	margin-right: auto;
	-webkit-box-shadow: 0px 61px 70px -42px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 61px 70px -42px rgba(0,0,0,0.75);
	box-shadow: 0px 61px 70px -42px rgba(0,0,0,0.75);
	z-index: 999999;
	position: relative;
  	max-width: 20rem;
  	border-radius: 30px;
  	top: 65px;
}

.uk-mockup-live {
	padding: 1rem;
	border-radius: 15px;
	border: 1px dashed gray;
	height: 20rem !important;
	position: relative;
}

.uk-mockup-live-bank {
	padding: 1rem;
	border-radius: 15px;
	border: 1px dashed gray;
	height: 10rem !important;
	position: relative;
}

.uk-mockup-live-bank .vertical-center {
	width: 93% !important;
}

.uk-mockup-live tag {
	font-size: 14px !important;
}

.uk-mockup-live input {
	width: 98% !important;
}

.uk-paycontain{
	border-radius: 5px;
	border: 1px dashed gray;
	background: linear-gradient(308deg, #d9d9d9, #ffffff);
	color: gray !important;
	padding: 2rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-style: italic;
	position: relative;
}

.uk-payform {
	
}

.uk-payform hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    text-align: inherit;
    margin: 30px 0 5px 0 !important;
    border: 0;
    border-top: 1px solid gray !important;
}

.uk-payform name {
	font-size: 2rem !important;
	color: gray !important;
	display: block;
	line-height: 2rem;
	text-transform: uppercase;
}

.uk-payform input,
.uk-payform select {
	font-size: 1rem !important;
	color: #2d2d2d !important;
	display: block;
	line-height: 2rem;
	text-transform: uppercase;
	width: 100% !important;
	border-radius: 500px !important;
	margin: 0.3rem;
	background-color: #f1f1f1 !important;
}

.uk__payform-button {
	margin: auto !important;
	box-shadow: 1px 17px 16px -14px #949494;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius: 500px;
	border:1px solid #74b807;
	display: block;
	cursor:pointer;
	color:#ffffff;
	padding:13px 67px;
	font-style: italic !important;
}

.uk__payform-button:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}

.uk__payform-button:active {
	position:relative;
	top:1px;
}

@media screen and (max-width: 768px){
	.uk-paycontain{
		padding: 1rem !important;
	}
}